{% extends 'base.html.twig' %}

{# OCLOCK - Wrapping formulaire sur le format bootstrap 4 (cf config.yml > twig > form #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h2>
    Ajouter votre animal !
</h2>
<div id="logout" name="logout">
    {# OCLOCK - Affiche champs par champs le formulaire definit AppBundle > Form > PetType #}
    {{ form_start(form) }} {# OCLOCK - form_start - debut #}
        {{ form_row(form.nickname) }}
        {{ form_row(form.type) }}
        {{ form_row(form.age) }}

        {# OCLOCK -  Cf parametre security.yml -> csrf_token_generator #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" id="register_pet" name="register_pet" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }} {# OCLOCK - form_start - fin #}
</div>
{% endblock %}
